$primary-color: #605dc8;
$accent-color: #3b82f6;

.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
}

input[type="text"] {
    border: solid 1px $primary-color;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
}

button {
    padding: 10px;
    border: solid 1px $primary-color;
    background: $primary-color;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }
}

@media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }
}